.row {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  box-sizing: border-box;
}

.col {
  position: relative;
  float: left;
  -ms-flex: none;
  flex: none;
  width: 0;
  max-width: 100%;
  min-height: 1px;
  box-sizing: border-box;
}

.row--gutter,
.row--gutter-inline {
  margin-left: -10px;
  margin-right: -10px;
}

.row--gutter-inline > .col,
.row--gutter > .col {
  padding-left: 10px;
  padding-right: 10px;
}

.row--gutter-block > .col,
.row--gutter > .col {
  margin-bottom: 20px;
}

.col:last-child {
  margin-bottom: 0;
}

.col--auto {
  width: auto;
}

.col--1 {
  width: 4.166667%;
}

.col--2 {
  width: 8.333333%;
}

.col--3 {
  width: 12.5%;
}

.col--4 {
  width: 16.666667%;
}

.col--5 {
  width: 20.833333%;
}

.col--6 {
  width: 25%;
}

.col--7 {
  width: 29.166667%;
}

.col--8 {
  width: 33.333333%;
}

.col--9 {
  width: 37.5%;
}

.col--10 {
  width: 41.666667%;
}

.col--11 {
  width: 45.833333%;
}

.col--12 {
  width: 50%;
}

.col--13 {
  width: 54.166667%;
}

.col--14 {
  width: 58.333333%;
}

.col--15 {
  width: 62.5%;
}

.col--16 {
  width: 66.666667%;
}

.col--17 {
  width: 70.833333%;
}

.col--18 {
  width: 75%;
}

.col--19 {
  width: 79.166667%;
}

.col--20 {
  width: 83.333333%;
}

.col--21 {
  width: 87.5%;
}

.col--22 {
  width: 91.666667%;
}

.col--23 {
  width: 95.833333%;
}

.col--24 {
  width: 100%;
}

.col--order-first {
  -ms-flex-order: -1;
  order: -1;
}

.col--order-last {
  -ms-flex-order: 25;
  order: 25;
}

.col--order-1 {
  -ms-flex-order: 1;
  order: 1;
}

.col--order-2 {
  -ms-flex-order: 2;
  order: 2;
}

.col--order-3 {
  -ms-flex-order: 3;
  order: 3;
}

.col--order-4 {
  -ms-flex-order: 4;
  order: 4;
}

.col--order-5 {
  -ms-flex-order: 5;
  order: 5;
}

.col--order-6 {
  -ms-flex-order: 6;
  order: 6;
}

.col--order-7 {
  -ms-flex-order: 7;
  order: 7;
}

.col--order-8 {
  -ms-flex-order: 8;
  order: 8;
}

.col--order-9 {
  -ms-flex-order: 9;
  order: 9;
}

.col--order-10 {
  -ms-flex-order: 10;
  order: 10;
}

.col--order-11 {
  -ms-flex-order: 11;
  order: 11;
}

.col--order-12 {
  -ms-flex-order: 12;
  order: 12;
}

.col--order-13 {
  -ms-flex-order: 13;
  order: 13;
}

.col--order-14 {
  -ms-flex-order: 14;
  order: 14;
}

.col--order-15 {
  -ms-flex-order: 15;
  order: 15;
}

.col--order-16 {
  -ms-flex-order: 16;
  order: 16;
}

.col--order-17 {
  -ms-flex-order: 17;
  order: 17;
}

.col--order-18 {
  -ms-flex-order: 18;
  order: 18;
}

.col--order-19 {
  -ms-flex-order: 19;
  order: 19;
}

.col--order-20 {
  -ms-flex-order: 20;
  order: 20;
}

.col--order-21 {
  -ms-flex-order: 21;
  order: 21;
}

.col--order-22 {
  -ms-flex-order: 22;
  order: 22;
}

.col--order-23 {
  -ms-flex-order: 23;
  order: 23;
}

.col--order-24 {
  -ms-flex-order: 24;
  order: 24;
}

.col--offset-1 {
  margin-left: 4.166667%;
}

.col--offset-2 {
  margin-left: 8.333333%;
}

.col--offset-3 {
  margin-left: 12.5%;
}

.col--offset-4 {
  margin-left: 16.666667%;
}

.col--offset-5 {
  margin-left: 20.833333%;
}

.col--offset-6 {
  margin-left: 25%;
}

.col--offset-7 {
  margin-left: 29.166667%;
}

.col--offset-8 {
  margin-left: 33.333333%;
}

.col--offset-9 {
  margin-left: 37.5%;
}

.col--offset-10 {
  margin-left: 41.666667%;
}

.col--offset-11 {
  margin-left: 45.833333%;
}

.col--offset-12 {
  margin-left: 50%;
}

.col--offset-13 {
  margin-left: 54.166667%;
}

.col--offset-14 {
  margin-left: 58.333333%;
}

.col--offset-15 {
  margin-left: 62.5%;
}

.col--offset-16 {
  margin-left: 66.666667%;
}

.col--offset-17 {
  margin-left: 70.833333%;
}

.col--offset-18 {
  margin-left: 75%;
}

.col--offset-19 {
  margin-left: 79.166667%;
}

.col--offset-20 {
  margin-left: 83.333333%;
}

.col--offset-21 {
  margin-left: 87.5%;
}

.col--offset-22 {
  margin-left: 91.666667%;
}

.col--offset-23 {
  margin-left: 95.833333%;
}

@media (min-width: 576px) {
  .col--sm-auto {
    width: auto;
  }

  .col--sm-1 {
    width: 4.166667%;
  }

  .col--sm-2 {
    width: 8.333333%;
  }

  .col--sm-3 {
    width: 12.5%;
  }

  .col--sm-4 {
    width: 16.666667%;
  }

  .col--sm-5 {
    width: 20.833333%;
  }

  .col--sm-6 {
    width: 25%;
  }

  .col--sm-7 {
    width: 29.166667%;
  }

  .col--sm-8 {
    width: 33.333333%;
  }

  .col--sm-9 {
    width: 37.5%;
  }

  .col--sm-10 {
    width: 41.666667%;
  }

  .col--sm-11 {
    width: 45.833333%;
  }

  .col--sm-12 {
    width: 50%;
  }

  .col--sm-13 {
    width: 54.166667%;
  }

  .col--sm-14 {
    width: 58.333333%;
  }

  .col--sm-15 {
    width: 62.5%;
  }

  .col--sm-16 {
    width: 66.666667%;
  }

  .col--sm-17 {
    width: 70.833333%;
  }

  .col--sm-18 {
    width: 75%;
  }

  .col--sm-19 {
    width: 79.166667%;
  }

  .col--sm-20 {
    width: 83.333333%;
  }

  .col--sm-21 {
    width: 87.5%;
  }

  .col--sm-22 {
    width: 91.666667%;
  }

  .col--sm-23 {
    width: 95.833333%;
  }

  .col--sm-24 {
    width: 100%;
  }

  .col--order-sm-first {
    -ms-flex-order: -1;
    order: -1;
  }

  .col--order-sm-last {
    -ms-flex-order: 25;
    order: 25;
  }

  .col--order-sm-1 {
    -ms-flex-order: 1;
    order: 1;
  }

  .col--order-sm-2 {
    -ms-flex-order: 2;
    order: 2;
  }

  .col--order-sm-3 {
    -ms-flex-order: 3;
    order: 3;
  }

  .col--order-sm-4 {
    -ms-flex-order: 4;
    order: 4;
  }

  .col--order-sm-5 {
    -ms-flex-order: 5;
    order: 5;
  }

  .col--order-sm-6 {
    -ms-flex-order: 6;
    order: 6;
  }

  .col--order-sm-7 {
    -ms-flex-order: 7;
    order: 7;
  }

  .col--order-sm-8 {
    -ms-flex-order: 8;
    order: 8;
  }

  .col--order-sm-9 {
    -ms-flex-order: 9;
    order: 9;
  }

  .col--order-sm-10 {
    -ms-flex-order: 10;
    order: 10;
  }

  .col--order-sm-11 {
    -ms-flex-order: 11;
    order: 11;
  }

  .col--order-sm-12 {
    -ms-flex-order: 12;
    order: 12;
  }

  .col--order-sm-13 {
    -ms-flex-order: 13;
    order: 13;
  }

  .col--order-sm-14 {
    -ms-flex-order: 14;
    order: 14;
  }

  .col--order-sm-15 {
    -ms-flex-order: 15;
    order: 15;
  }

  .col--order-sm-16 {
    -ms-flex-order: 16;
    order: 16;
  }

  .col--order-sm-17 {
    -ms-flex-order: 17;
    order: 17;
  }

  .col--order-sm-18 {
    -ms-flex-order: 18;
    order: 18;
  }

  .col--order-sm-19 {
    -ms-flex-order: 19;
    order: 19;
  }

  .col--order-sm-20 {
    -ms-flex-order: 20;
    order: 20;
  }

  .col--order-sm-21 {
    -ms-flex-order: 21;
    order: 21;
  }

  .col--order-sm-22 {
    -ms-flex-order: 22;
    order: 22;
  }

  .col--order-sm-23 {
    -ms-flex-order: 23;
    order: 23;
  }

  .col--order-sm-24 {
    -ms-flex-order: 24;
    order: 24;
  }

  .col--offset-sm-1 {
    margin-left: 4.166667%;
  }

  .col--offset-sm-2 {
    margin-left: 8.333333%;
  }

  .col--offset-sm-3 {
    margin-left: 12.5%;
  }

  .col--offset-sm-4 {
    margin-left: 16.666667%;
  }

  .col--offset-sm-5 {
    margin-left: 20.833333%;
  }

  .col--offset-sm-6 {
    margin-left: 25%;
  }

  .col--offset-sm-7 {
    margin-left: 29.166667%;
  }

  .col--offset-sm-8 {
    margin-left: 33.333333%;
  }

  .col--offset-sm-9 {
    margin-left: 37.5%;
  }

  .col--offset-sm-10 {
    margin-left: 41.666667%;
  }

  .col--offset-sm-11 {
    margin-left: 45.833333%;
  }

  .col--offset-sm-12 {
    margin-left: 50%;
  }

  .col--offset-sm-13 {
    margin-left: 54.166667%;
  }

  .col--offset-sm-14 {
    margin-left: 58.333333%;
  }

  .col--offset-sm-15 {
    margin-left: 62.5%;
  }

  .col--offset-sm-16 {
    margin-left: 66.666667%;
  }

  .col--offset-sm-17 {
    margin-left: 70.833333%;
  }

  .col--offset-sm-18 {
    margin-left: 75%;
  }

  .col--offset-sm-19 {
    margin-left: 79.166667%;
  }

  .col--offset-sm-20 {
    margin-left: 83.333333%;
  }

  .col--offset-sm-21 {
    margin-left: 87.5%;
  }

  .col--offset-sm-22 {
    margin-left: 91.666667%;
  }

  .col--offset-sm-23 {
    margin-left: 95.833333%;
  }
}
@media (min-width: 768px) {
  .col--md-auto {
    width: auto;
  }

  .col--md-1 {
    width: 4.166667%;
  }

  .col--md-2 {
    width: 8.333333%;
  }

  .col--md-3 {
    width: 12.5%;
  }

  .col--md-4 {
    width: 16.666667%;
  }

  .col--md-5 {
    width: 20.833333%;
  }

  .col--md-6 {
    width: 25%;
  }

  .col--md-7 {
    width: 29.166667%;
  }

  .col--md-8 {
    width: 33.333333%;
  }

  .col--md-9 {
    width: 37.5%;
  }

  .col--md-10 {
    width: 41.666667%;
  }

  .col--md-11 {
    width: 45.833333%;
  }

  .col--md-12 {
    width: 50%;
  }

  .col--md-13 {
    width: 54.166667%;
  }

  .col--md-14 {
    width: 58.333333%;
  }

  .col--md-15 {
    width: 62.5%;
  }

  .col--md-16 {
    width: 66.666667%;
  }

  .col--md-17 {
    width: 70.833333%;
  }

  .col--md-18 {
    width: 75%;
  }

  .col--md-19 {
    width: 79.166667%;
  }

  .col--md-20 {
    width: 83.333333%;
  }

  .col--md-21 {
    width: 87.5%;
  }

  .col--md-22 {
    width: 91.666667%;
  }

  .col--md-23 {
    width: 95.833333%;
  }

  .col--md-24 {
    width: 100%;
  }

  .col--order-md-first {
    -ms-flex-order: -1;
    order: -1;
  }

  .col--order-md-last {
    -ms-flex-order: 25;
    order: 25;
  }

  .col--order-md-1 {
    -ms-flex-order: 1;
    order: 1;
  }

  .col--order-md-2 {
    -ms-flex-order: 2;
    order: 2;
  }

  .col--order-md-3 {
    -ms-flex-order: 3;
    order: 3;
  }

  .col--order-md-4 {
    -ms-flex-order: 4;
    order: 4;
  }

  .col--order-md-5 {
    -ms-flex-order: 5;
    order: 5;
  }

  .col--order-md-6 {
    -ms-flex-order: 6;
    order: 6;
  }

  .col--order-md-7 {
    -ms-flex-order: 7;
    order: 7;
  }

  .col--order-md-8 {
    -ms-flex-order: 8;
    order: 8;
  }

  .col--order-md-9 {
    -ms-flex-order: 9;
    order: 9;
  }

  .col--order-md-10 {
    -ms-flex-order: 10;
    order: 10;
  }

  .col--order-md-11 {
    -ms-flex-order: 11;
    order: 11;
  }

  .col--order-md-12 {
    -ms-flex-order: 12;
    order: 12;
  }

  .col--order-md-13 {
    -ms-flex-order: 13;
    order: 13;
  }

  .col--order-md-14 {
    -ms-flex-order: 14;
    order: 14;
  }

  .col--order-md-15 {
    -ms-flex-order: 15;
    order: 15;
  }

  .col--order-md-16 {
    -ms-flex-order: 16;
    order: 16;
  }

  .col--order-md-17 {
    -ms-flex-order: 17;
    order: 17;
  }

  .col--order-md-18 {
    -ms-flex-order: 18;
    order: 18;
  }

  .col--order-md-19 {
    -ms-flex-order: 19;
    order: 19;
  }

  .col--order-md-20 {
    -ms-flex-order: 20;
    order: 20;
  }

  .col--order-md-21 {
    -ms-flex-order: 21;
    order: 21;
  }

  .col--order-md-22 {
    -ms-flex-order: 22;
    order: 22;
  }

  .col--order-md-23 {
    -ms-flex-order: 23;
    order: 23;
  }

  .col--order-md-24 {
    -ms-flex-order: 24;
    order: 24;
  }

  .col--offset-md-1 {
    margin-left: 4.166667%;
  }

  .col--offset-md-2 {
    margin-left: 8.333333%;
  }

  .col--offset-md-3 {
    margin-left: 12.5%;
  }

  .col--offset-md-4 {
    margin-left: 16.666667%;
  }

  .col--offset-md-5 {
    margin-left: 20.833333%;
  }

  .col--offset-md-6 {
    margin-left: 25%;
  }

  .col--offset-md-7 {
    margin-left: 29.166667%;
  }

  .col--offset-md-8 {
    margin-left: 33.333333%;
  }

  .col--offset-md-9 {
    margin-left: 37.5%;
  }

  .col--offset-md-10 {
    margin-left: 41.666667%;
  }

  .col--offset-md-11 {
    margin-left: 45.833333%;
  }

  .col--offset-md-12 {
    margin-left: 50%;
  }

  .col--offset-md-13 {
    margin-left: 54.166667%;
  }

  .col--offset-md-14 {
    margin-left: 58.333333%;
  }

  .col--offset-md-15 {
    margin-left: 62.5%;
  }

  .col--offset-md-16 {
    margin-left: 66.666667%;
  }

  .col--offset-md-17 {
    margin-left: 70.833333%;
  }

  .col--offset-md-18 {
    margin-left: 75%;
  }

  .col--offset-md-19 {
    margin-left: 79.166667%;
  }

  .col--offset-md-20 {
    margin-left: 83.333333%;
  }

  .col--offset-md-21 {
    margin-left: 87.5%;
  }

  .col--offset-md-22 {
    margin-left: 91.666667%;
  }

  .col--offset-md-23 {
    margin-left: 95.833333%;
  }
}
@media (min-width: 992px) {
  .col--lg-auto {
    width: auto;
  }

  .col--lg-1 {
    width: 4.166667%;
  }

  .col--lg-2 {
    width: 8.333333%;
  }

  .col--lg-3 {
    width: 12.5%;
  }

  .col--lg-4 {
    width: 16.666667%;
  }

  .col--lg-5 {
    width: 20.833333%;
  }

  .col--lg-6 {
    width: 25%;
  }

  .col--lg-7 {
    width: 29.166667%;
  }

  .col--lg-8 {
    width: 33.333333%;
  }

  .col--lg-9 {
    width: 37.5%;
  }

  .col--lg-10 {
    width: 41.666667%;
  }

  .col--lg-11 {
    width: 45.833333%;
  }

  .col--lg-12 {
    width: 50%;
  }

  .col--lg-13 {
    width: 54.166667%;
  }

  .col--lg-14 {
    width: 58.333333%;
  }

  .col--lg-15 {
    width: 62.5%;
  }

  .col--lg-16 {
    width: 66.666667%;
  }

  .col--lg-17 {
    width: 70.833333%;
  }

  .col--lg-18 {
    width: 75%;
  }

  .col--lg-19 {
    width: 79.166667%;
  }

  .col--lg-20 {
    width: 83.333333%;
  }

  .col--lg-21 {
    width: 87.5%;
  }

  .col--lg-22 {
    width: 91.666667%;
  }

  .col--lg-23 {
    width: 95.833333%;
  }

  .col--lg-24 {
    width: 100%;
  }

  .col--order-lg-first {
    -ms-flex-order: -1;
    order: -1;
  }

  .col--order-lg-last {
    -ms-flex-order: 25;
    order: 25;
  }

  .col--order-lg-1 {
    -ms-flex-order: 1;
    order: 1;
  }

  .col--order-lg-2 {
    -ms-flex-order: 2;
    order: 2;
  }

  .col--order-lg-3 {
    -ms-flex-order: 3;
    order: 3;
  }

  .col--order-lg-4 {
    -ms-flex-order: 4;
    order: 4;
  }

  .col--order-lg-5 {
    -ms-flex-order: 5;
    order: 5;
  }

  .col--order-lg-6 {
    -ms-flex-order: 6;
    order: 6;
  }

  .col--order-lg-7 {
    -ms-flex-order: 7;
    order: 7;
  }

  .col--order-lg-8 {
    -ms-flex-order: 8;
    order: 8;
  }

  .col--order-lg-9 {
    -ms-flex-order: 9;
    order: 9;
  }

  .col--order-lg-10 {
    -ms-flex-order: 10;
    order: 10;
  }

  .col--order-lg-11 {
    -ms-flex-order: 11;
    order: 11;
  }

  .col--order-lg-12 {
    -ms-flex-order: 12;
    order: 12;
  }

  .col--order-lg-13 {
    -ms-flex-order: 13;
    order: 13;
  }

  .col--order-lg-14 {
    -ms-flex-order: 14;
    order: 14;
  }

  .col--order-lg-15 {
    -ms-flex-order: 15;
    order: 15;
  }

  .col--order-lg-16 {
    -ms-flex-order: 16;
    order: 16;
  }

  .col--order-lg-17 {
    -ms-flex-order: 17;
    order: 17;
  }

  .col--order-lg-18 {
    -ms-flex-order: 18;
    order: 18;
  }

  .col--order-lg-19 {
    -ms-flex-order: 19;
    order: 19;
  }

  .col--order-lg-20 {
    -ms-flex-order: 20;
    order: 20;
  }

  .col--order-lg-21 {
    -ms-flex-order: 21;
    order: 21;
  }

  .col--order-lg-22 {
    -ms-flex-order: 22;
    order: 22;
  }

  .col--order-lg-23 {
    -ms-flex-order: 23;
    order: 23;
  }

  .col--order-lg-24 {
    -ms-flex-order: 24;
    order: 24;
  }

  .col--offset-lg-1 {
    margin-left: 4.166667%;
  }

  .col--offset-lg-2 {
    margin-left: 8.333333%;
  }

  .col--offset-lg-3 {
    margin-left: 12.5%;
  }

  .col--offset-lg-4 {
    margin-left: 16.666667%;
  }

  .col--offset-lg-5 {
    margin-left: 20.833333%;
  }

  .col--offset-lg-6 {
    margin-left: 25%;
  }

  .col--offset-lg-7 {
    margin-left: 29.166667%;
  }

  .col--offset-lg-8 {
    margin-left: 33.333333%;
  }

  .col--offset-lg-9 {
    margin-left: 37.5%;
  }

  .col--offset-lg-10 {
    margin-left: 41.666667%;
  }

  .col--offset-lg-11 {
    margin-left: 45.833333%;
  }

  .col--offset-lg-12 {
    margin-left: 50%;
  }

  .col--offset-lg-13 {
    margin-left: 54.166667%;
  }

  .col--offset-lg-14 {
    margin-left: 58.333333%;
  }

  .col--offset-lg-15 {
    margin-left: 62.5%;
  }

  .col--offset-lg-16 {
    margin-left: 66.666667%;
  }

  .col--offset-lg-17 {
    margin-left: 70.833333%;
  }

  .col--offset-lg-18 {
    margin-left: 75%;
  }

  .col--offset-lg-19 {
    margin-left: 79.166667%;
  }

  .col--offset-lg-20 {
    margin-left: 83.333333%;
  }

  .col--offset-lg-21 {
    margin-left: 87.5%;
  }

  .col--offset-lg-22 {
    margin-left: 91.666667%;
  }

  .col--offset-lg-23 {
    margin-left: 95.833333%;
  }
}
@media (min-width: 1200px) {
  .col--xl-auto {
    width: auto;
  }

  .col--xl-1 {
    width: 4.166667%;
  }

  .col--xl-2 {
    width: 8.333333%;
  }

  .col--xl-3 {
    width: 12.5%;
  }

  .col--xl-4 {
    width: 16.666667%;
  }

  .col--xl-5 {
    width: 20.833333%;
  }

  .col--xl-6 {
    width: 25%;
  }

  .col--xl-7 {
    width: 29.166667%;
  }

  .col--xl-8 {
    width: 33.333333%;
  }

  .col--xl-9 {
    width: 37.5%;
  }

  .col--xl-10 {
    width: 41.666667%;
  }

  .col--xl-11 {
    width: 45.833333%;
  }

  .col--xl-12 {
    width: 50%;
  }

  .col--xl-13 {
    width: 54.166667%;
  }

  .col--xl-14 {
    width: 58.333333%;
  }

  .col--xl-15 {
    width: 62.5%;
  }

  .col--xl-16 {
    width: 66.666667%;
  }

  .col--xl-17 {
    width: 70.833333%;
  }

  .col--xl-18 {
    width: 75%;
  }

  .col--xl-19 {
    width: 79.166667%;
  }

  .col--xl-20 {
    width: 83.333333%;
  }

  .col--xl-21 {
    width: 87.5%;
  }

  .col--xl-22 {
    width: 91.666667%;
  }

  .col--xl-23 {
    width: 95.833333%;
  }

  .col--xl-24 {
    width: 100%;
  }

  .col--order-xl-first {
    -ms-flex-order: -1;
    order: -1;
  }

  .col--order-xl-last {
    -ms-flex-order: 25;
    order: 25;
  }

  .col--order-xl-1 {
    -ms-flex-order: 1;
    order: 1;
  }

  .col--order-xl-2 {
    -ms-flex-order: 2;
    order: 2;
  }

  .col--order-xl-3 {
    -ms-flex-order: 3;
    order: 3;
  }

  .col--order-xl-4 {
    -ms-flex-order: 4;
    order: 4;
  }

  .col--order-xl-5 {
    -ms-flex-order: 5;
    order: 5;
  }

  .col--order-xl-6 {
    -ms-flex-order: 6;
    order: 6;
  }

  .col--order-xl-7 {
    -ms-flex-order: 7;
    order: 7;
  }

  .col--order-xl-8 {
    -ms-flex-order: 8;
    order: 8;
  }

  .col--order-xl-9 {
    -ms-flex-order: 9;
    order: 9;
  }

  .col--order-xl-10 {
    -ms-flex-order: 10;
    order: 10;
  }

  .col--order-xl-11 {
    -ms-flex-order: 11;
    order: 11;
  }

  .col--order-xl-12 {
    -ms-flex-order: 12;
    order: 12;
  }

  .col--order-xl-13 {
    -ms-flex-order: 13;
    order: 13;
  }

  .col--order-xl-14 {
    -ms-flex-order: 14;
    order: 14;
  }

  .col--order-xl-15 {
    -ms-flex-order: 15;
    order: 15;
  }

  .col--order-xl-16 {
    -ms-flex-order: 16;
    order: 16;
  }

  .col--order-xl-17 {
    -ms-flex-order: 17;
    order: 17;
  }

  .col--order-xl-18 {
    -ms-flex-order: 18;
    order: 18;
  }

  .col--order-xl-19 {
    -ms-flex-order: 19;
    order: 19;
  }

  .col--order-xl-20 {
    -ms-flex-order: 20;
    order: 20;
  }

  .col--order-xl-21 {
    -ms-flex-order: 21;
    order: 21;
  }

  .col--order-xl-22 {
    -ms-flex-order: 22;
    order: 22;
  }

  .col--order-xl-23 {
    -ms-flex-order: 23;
    order: 23;
  }

  .col--order-xl-24 {
    -ms-flex-order: 24;
    order: 24;
  }

  .col--offset-xl-1 {
    margin-left: 4.166667%;
  }

  .col--offset-xl-2 {
    margin-left: 8.333333%;
  }

  .col--offset-xl-3 {
    margin-left: 12.5%;
  }

  .col--offset-xl-4 {
    margin-left: 16.666667%;
  }

  .col--offset-xl-5 {
    margin-left: 20.833333%;
  }

  .col--offset-xl-6 {
    margin-left: 25%;
  }

  .col--offset-xl-7 {
    margin-left: 29.166667%;
  }

  .col--offset-xl-8 {
    margin-left: 33.333333%;
  }

  .col--offset-xl-9 {
    margin-left: 37.5%;
  }

  .col--offset-xl-10 {
    margin-left: 41.666667%;
  }

  .col--offset-xl-11 {
    margin-left: 45.833333%;
  }

  .col--offset-xl-12 {
    margin-left: 50%;
  }

  .col--offset-xl-13 {
    margin-left: 54.166667%;
  }

  .col--offset-xl-14 {
    margin-left: 58.333333%;
  }

  .col--offset-xl-15 {
    margin-left: 62.5%;
  }

  .col--offset-xl-16 {
    margin-left: 66.666667%;
  }

  .col--offset-xl-17 {
    margin-left: 70.833333%;
  }

  .col--offset-xl-18 {
    margin-left: 75%;
  }

  .col--offset-xl-19 {
    margin-left: 79.166667%;
  }

  .col--offset-xl-20 {
    margin-left: 83.333333%;
  }

  .col--offset-xl-21 {
    margin-left: 87.5%;
  }

  .col--offset-xl-22 {
    margin-left: 91.666667%;
  }

  .col--offset-xl-23 {
    margin-left: 95.833333%;
  }
}
@media (min-width: 1440px) {
  .col--xxl-auto {
    width: auto;
  }

  .col--xxl-1 {
    width: 4.166667%;
  }

  .col--xxl-2 {
    width: 8.333333%;
  }

  .col--xxl-3 {
    width: 12.5%;
  }

  .col--xxl-4 {
    width: 16.666667%;
  }

  .col--xxl-5 {
    width: 20.833333%;
  }

  .col--xxl-6 {
    width: 25%;
  }

  .col--xxl-7 {
    width: 29.166667%;
  }

  .col--xxl-8 {
    width: 33.333333%;
  }

  .col--xxl-9 {
    width: 37.5%;
  }

  .col--xxl-10 {
    width: 41.666667%;
  }

  .col--xxl-11 {
    width: 45.833333%;
  }

  .col--xxl-12 {
    width: 50%;
  }

  .col--xxl-13 {
    width: 54.166667%;
  }

  .col--xxl-14 {
    width: 58.333333%;
  }

  .col--xxl-15 {
    width: 62.5%;
  }

  .col--xxl-16 {
    width: 66.666667%;
  }

  .col--xxl-17 {
    width: 70.833333%;
  }

  .col--xxl-18 {
    width: 75%;
  }

  .col--xxl-19 {
    width: 79.166667%;
  }

  .col--xxl-20 {
    width: 83.333333%;
  }

  .col--xxl-21 {
    width: 87.5%;
  }

  .col--xxl-22 {
    width: 91.666667%;
  }

  .col--xxl-23 {
    width: 95.833333%;
  }

  .col--xxl-24 {
    width: 100%;
  }

  .col--order-xxl-first {
    -ms-flex-order: -1;
    order: -1;
  }

  .col--order-xxl-last {
    -ms-flex-order: 25;
    order: 25;
  }

  .col--order-xxl-1 {
    -ms-flex-order: 1;
    order: 1;
  }

  .col--order-xxl-2 {
    -ms-flex-order: 2;
    order: 2;
  }

  .col--order-xxl-3 {
    -ms-flex-order: 3;
    order: 3;
  }

  .col--order-xxl-4 {
    -ms-flex-order: 4;
    order: 4;
  }

  .col--order-xxl-5 {
    -ms-flex-order: 5;
    order: 5;
  }

  .col--order-xxl-6 {
    -ms-flex-order: 6;
    order: 6;
  }

  .col--order-xxl-7 {
    -ms-flex-order: 7;
    order: 7;
  }

  .col--order-xxl-8 {
    -ms-flex-order: 8;
    order: 8;
  }

  .col--order-xxl-9 {
    -ms-flex-order: 9;
    order: 9;
  }

  .col--order-xxl-10 {
    -ms-flex-order: 10;
    order: 10;
  }

  .col--order-xxl-11 {
    -ms-flex-order: 11;
    order: 11;
  }

  .col--order-xxl-12 {
    -ms-flex-order: 12;
    order: 12;
  }

  .col--order-xxl-13 {
    -ms-flex-order: 13;
    order: 13;
  }

  .col--order-xxl-14 {
    -ms-flex-order: 14;
    order: 14;
  }

  .col--order-xxl-15 {
    -ms-flex-order: 15;
    order: 15;
  }

  .col--order-xxl-16 {
    -ms-flex-order: 16;
    order: 16;
  }

  .col--order-xxl-17 {
    -ms-flex-order: 17;
    order: 17;
  }

  .col--order-xxl-18 {
    -ms-flex-order: 18;
    order: 18;
  }

  .col--order-xxl-19 {
    -ms-flex-order: 19;
    order: 19;
  }

  .col--order-xxl-20 {
    -ms-flex-order: 20;
    order: 20;
  }

  .col--order-xxl-21 {
    -ms-flex-order: 21;
    order: 21;
  }

  .col--order-xxl-22 {
    -ms-flex-order: 22;
    order: 22;
  }

  .col--order-xxl-23 {
    -ms-flex-order: 23;
    order: 23;
  }

  .col--order-xxl-24 {
    -ms-flex-order: 24;
    order: 24;
  }

  .col--offset-xxl-1 {
    margin-left: 4.166667%;
  }

  .col--offset-xxl-2 {
    margin-left: 8.333333%;
  }

  .col--offset-xxl-3 {
    margin-left: 12.5%;
  }

  .col--offset-xxl-4 {
    margin-left: 16.666667%;
  }

  .col--offset-xxl-5 {
    margin-left: 20.833333%;
  }

  .col--offset-xxl-6 {
    margin-left: 25%;
  }

  .col--offset-xxl-7 {
    margin-left: 29.166667%;
  }

  .col--offset-xxl-8 {
    margin-left: 33.333333%;
  }

  .col--offset-xxl-9 {
    margin-left: 37.5%;
  }

  .col--offset-xxl-10 {
    margin-left: 41.666667%;
  }

  .col--offset-xxl-11 {
    margin-left: 45.833333%;
  }

  .col--offset-xxl-12 {
    margin-left: 50%;
  }

  .col--offset-xxl-13 {
    margin-left: 54.166667%;
  }

  .col--offset-xxl-14 {
    margin-left: 58.333333%;
  }

  .col--offset-xxl-15 {
    margin-left: 62.5%;
  }

  .col--offset-xxl-16 {
    margin-left: 66.666667%;
  }

  .col--offset-xxl-17 {
    margin-left: 70.833333%;
  }

  .col--offset-xxl-18 {
    margin-left: 75%;
  }

  .col--offset-xxl-19 {
    margin-left: 79.166667%;
  }

  .col--offset-xxl-20 {
    margin-left: 83.333333%;
  }

  .col--offset-xxl-21 {
    margin-left: 87.5%;
  }

  .col--offset-xxl-22 {
    margin-left: 91.666667%;
  }

  .col--offset-xxl-23 {
    margin-left: 95.833333%;
  }
}
