@import url(glide/glide.core.css);
@import url(glide/glide.theme.css);

.glide__bullets {
    padding: 5px;
    cursor: pointer;
}
.glide__slides {
    list-style: none;
    padding: 0;
    margin: 0;
}
